* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    -webkit-font-smoothing: antialiased;

}

.display {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    opacity: 0.5;
}

body {
    background: #6d9693;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    padding-bottom: 0.714em !important;
    padding-top: 0.714em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 0px;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

.artboard {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}

.artboard .display {
    display: flex;
    position: absolute;
}

.artboard .display h3 {
    padding-left: 10px;
}
